# Ignore logs and Python cache
logs/
__pycache__/
*.py[cod]
.pytest_cache/
# Virtual envs and environment files
env/
.env
# Ignore Paper files
paper/
# Ignore demo results
demo/*/results/
# Editor folders
.vscode/
.github/